<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>971892299873-5kd29pnmpm00miep9ngf65qgsalcd7mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971892299873-5kd29pnmpm00miep9ngf65qgsalcd7mg</string>
	<key>API_KEY</key>
	<string>AIzaSyC37jYo9l992Prg_t0L9gbRvirCUrvgQTE</string>
	<key>GCM_SENDER_ID</key>
	<string>971892299873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloudtenlabs.classmate</string>
	<key>PROJECT_ID</key>
	<string>classmate-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>classmate-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971892299873:ios:2b22e775a7ea1739</string>
	<key>DATABASE_URL</key>
	<string>https://classmate-storage.firebaseio.com</string>
</dict>
</plist>